[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/soho_fork"]
	path = themes/soho_fork
	url = https://github.com/thefisk/soho.git