[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/soho_orig"]
	path = themes/soho_orig
	url = https://github.com/alexandrevicenzi/soho.git
